* {
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.clickable {
  cursor: pointer;
}

.lens {
  border-radius: 50%;
}

.absolute {
  position: absolute;
}

#eye-ball {
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: center;
  flex-shrink: 0;
  position: relative;
  width: 300px;
  height: 300px;
  background-color: rgb(53, 45, 106);
  transform: translateX(30px);
}

svg {
  pointer-events: none;
  transform: translate(-150px, -79px);
}

path {
  fill: rgb(255, 125, 255);
  pointer-events: visibleFill;
}

#box {
  width: 210px;
  height: 210px;
  background-color: rgb(255, 125, 255);
}

#lens-one {
  width: 200px;
  height: 200px;
  transform: translate(-100px, -96px);
  background-color: deeppink;
}

#lens-two {
  width: 180px;
  height: 180px;
  transform: translate(-90px, -77px);
  background-color: rgb(12, 12, 70);
}

#lens-three {
  width: 110px;
  height: 110px;
  transform: translate(-55px, -55px);
  background-color: rgb(193, 222, 48);
}

#iris-one {
  width: 90px;
  height: 90px;
  transform: translate(-45px, -38px);
  background-color: rgb(32, 0, 140);
}

#iris-two {
  width: 24px;
  height: 24px;
  transform: translate(-12px, -12px);
  background-color: red;
}

#iris-three {
  width: 18px;
  height: 18px;
  transform: translate(-9px, -9px);
  background-color: greenyellow;
}

#iris-four {
  width: 14px;
  height: 14px;
  transform: translate(-7px, -7px);
  background-color: pink;
}

#iris-five {
  width: 10px;
  height: 10px;
  transform: translate(-5px, -6px);
  background-color: skyblue;
}

#iris-six {
  width: 4px;
  height: 4px;
  transform: translate(-2px, -2px);
  background-color: darkblue;
}

#reflex-one {
  width: 32px;
  height: 32px;
  transform: translate(8px, 8px);
  background-color: yellow;
}

#reflex-two {
  width: 46px;
  height: 46px;
  transform: translate(-45px, -45px);
  background-color: yellow;
}

button {
  width: 40px;
  height: 40px;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin-bottom: 4px;
  border: none;
  background-color: white;
  position: relative;
  overflow: hidden;
}

button:hover {
  background-color: rgb(242, 242, 242);
}

img {
  height: 25px;
  width: 25px;
}

#menu {
  display: flex;
  flex-direction: column;
  transform: translate(40px, -150px);
}

button span {
  position: absolute;
  border-radius: 8px;
  background-color: rgba(0, 0, 0, 0.2);
  width: 40px;
  height: 40px;
  animation: ripple 1s;
  opacity: 0;
}

@keyframes ripple {
  from {
    opacity: 1;
    transform: scale(0);
  }
  to {
    opacity: 0;
    transform: scale(10);
  }
}

.active {
  background-color: rgb(236, 236, 236);
}

.active:hover {
  background-color: rgb(226, 226, 226);
}
